.HeroLanding {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
  background-image: url('../images/hero-bg.jpeg');
  background-size: cover;
}

.StepsContainer {
  width: 100%;
  height: 30vh;
  background-color:	#0e0e0e;
}

.TitleContainer {
  z-index: 5;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 70vh;
  margin-left: 10%;
}

.TitleContainer .Title, .TitleContainer h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  margin: 0;
  padding: 0;
}

.TitleContainer span {
  color: var(--primary);;
}

.Group {
  width: 520px;
  display: flex;
  margin-top: 30px;
}

.Group input {
  height: 60px;
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #101029;
  width: 70%;
  color: white;
  padding-left: 15px;
  font-size: 1em;
}

.Group input::-webkit-input-placeholder { 
  color: white;
}

.Group button {
  outline: none;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  width: 30%;
  background-color: #1c1c54;
  color: white;
  font-size: 1em;
  transition: all .4s;
}

.Group button:hover {
  background-color: #101029;
}

@media (max-width: 800px) {
  .TitleContainer {
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .Group {
    width: 85%;
  }
}

@media (max-width: 550px) {
  .TitleContainer .Title, .TitleContainer h1 {
    font-size: 3.5em;
    margin-bottom: 30px;
  }

  .Group {
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  .Group input {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .Group button {
    width: 50%;
    height: 50px;
    border-radius: 5px;
  }

  .HeroLanding {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}