footer {
  width: 100%;
  min-height: 300px;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
}

.FooterContainer {
  width: 70%;
  height: 100%;
  padding-top: 50px;
}

.MainRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}

.MainRow img {
  width: auto;
  height: 40px;
  margin-bottom: 30px;
}

.IconsContainer {
  display: flex;
  align-items: center;
}

.IconsContainer h1 {
  margin: 10px 10px;
  color: var(--black);
  font-weight: 400;
  cursor: pointer;
  transition: all .4s;
}

.IconsContainer:nth-child(3) p {
  color: grey;
  margin-bottom: 5px;
  margin-top: 30px;
}

.IconsContainer h1:nth-child(1) {
  color: #cf1c4b;
}

.IconsContainer h1:nth-child(3) {
  color: #0470ae;
}

.IconsContainer h1:nth-child(4) {
  color: #36b3f7;
}


